h1 {
  color: rgb(46, 112, 255);
  font-size: 26px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
}
nav {
  font-family: sans-serif;
  text-align: center;
  background-color: #ffffff;
  padding: 5px;
   border-radius: 7px;
     transition: all 0.2s;
}

nav a {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: 2px solid #3867ff;
  background-color: #ffffff;
  color: #133eff;
  text-decoration: none;
  border-radius: 7px;
  transition: all 0.2s;
}

nav a:hover {
  background-color: #2f55ff;
  color: #ffffff;
}

h2 {
  color: rgb(0, 136, 255);
  font-size: 40px;
  font-family: sans-serif;
  text-align: left;
}
h3 {
  font-size: 30px;
  font-family: sans-serif;
  color: #ffffff;
}

h4 {
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 17px;
  font-family: sans-serif;
  line-height: 1.5;
  text-align: left;
}
li {
  font-size: 17px;
  font-family: sans-serif;
  font-style: normal;
  text-align: left;
}
/* ===== NEON SCROLLBAR ===== */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, rgb(255, 255, 255), #ffffff, #ffffff);
  border-radius: 6px;
  border: 2px solid #000;
  box-shadow: 0 0 12px #ffffff;
  transition: 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #ffffff, #ffffff, #ffffff);
  box-shadow: 0 0 20px #ffffff, 0 0 40px #ffffff;
}

body {
  font-family: -apple-system;

  font-size: 16px;
  line-height: 1.6;
  color: #1e1e1e;

  background-color: #ffffff;

  margin: 0;
  padding: 20px;

  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0f172a;
    color: #ffffff;
  }
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
 
}
